body {
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2 {
    color: blueviolet;
}
ul li a {
    color: blue;
}
ol li a {
    color: darkgreen;
}
#p1 {
    color: cyan;
}
.p2 {
    color: aquamarine;
}
.cetak {
    font-weight: bold;
}
p.cetak {
    font-size: 30px;
}